<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | FinTrackers</title>
    <link rel="stylesheet" href="css/about.css"/>
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    {{>header}}
    <main>
      <section class="hero">
        <h1>Manage Your Transactions and Expenses with FinTrackers</h1>
        <a href="/transactions" class="cta-btn">Get Started</a>
      </section>

      <section class="features">
        <div class="feature">
           <img src="images/transactional.png" alt="Chat Bot" />
          <h2>Add New Transactions</h2>
          <p>Easily record your income and expenses with our intuitive and easy to use
            interface.</p>
        </div>
        <div class="feature">
           <img src="images/money-transfer.png" alt="Chat Bot" />
          <h2>Update Transactions</h2>
          <p>Edit and modify your transactions whenever you need to make
            changes.</p>
        </div>
        <div class="feature">
           <img src="images/lending.png" alt="Chat Bot" />
          <h2>Transaction Analytics</h2>
          <p>Gain insights into your spending habits and track your financial
            progress.</p>
        </div>
        <div class="feature">
          <img src="images/robot.png" alt="Chat Bot" />
          <h2>Interactive Chat Bot</h2>
          <p>Get answers to your financial questions with our interactive chat
            bot.</p>
        </div>
      </section>
    </main>
  </body>
</html>