<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    {{>header}}
    <div class="container">
      <div class="contact-box">
        <div class="left">
           <img src="images/operator.png" width="400px" alt="" />
        </div>
        <div class="right">
          <h2>Contact Us</h2>
          <input type="text" class="field" placeholder="Your Name" />
          <input type="text" class="field" placeholder="Your Email" />
          <input type="text" class="field" placeholder="Phone" />
          <textarea placeholder="Message" class="field"></textarea>
          <br>
          <button class="btn">Send</button>
        </div>
      </div>
  </body>
</html>
