<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sucess</title>
    
    <style>
        /* Add styling to the form */
        *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
        
        }
        body {
        background: rgb(2, 12, 41);
        }




        /* Add stylin to the container box which contain form */
        .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        width: 25vw;
        background-color: #2d6f74;
        background-image: url("https://th.bing.com/th/id/OIP.4CZVgmCU40qYjbsm1yPozQHaPP?pid=ImgDet&rs=1");
        background-size: cover;
        /* Darken background Code */
        background-blend-mode: multiply;
        background-position: center;
        /* Alignt the box to the right middle of screen */
        position: absolute;
        top: 50%;
        left:50%;
        padding: 10px 0;
        transform: translate(-50%, -50%);
        /* Add round edges */
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000000;
        }

        /* form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        width: 400px;
        background-size: cover;
        /* Darken background Code 
        background-blend-mode: multiply;
        background-position: center;
        } */
        /* Add styling to the heading */
        span {
        color: #d1d4d7;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0 5px 50px 5px;
        font-weight: bold;
        /* Align it to center */
        text-align: center;

        margin: 10px;
        padding: 110px 0 110px 0;
        width: 90%;   
        height: 80%;
        border-radius: 500px;
        border: none;
        background-color: rgb(58, 107, 121);
        color: white;
        font-size: 5vh;
        font-weight: bold;
    }

    /* Add css reponsiveness for mobile view*/
    @media screen and (max-width: 600px) {
        .container {
            width: 90vw;
        }
        span {
            font-size: 3vh;
        }
    }

    </style>
  </head>

  <body>

    <div class="container">
            <span> Transaction Successful</span>
      </div>
    
    <!-- Add one more box which is designed to display the history of transaction -->
  </body>
</html>
